<<<<<<< Updated upstream
h2 {
    margin-left: 30px;
}

.central{
    width: 100%;
    border: 5px solid red;

    
}

.divMain{
    width: 45%;
    height: 250px;
    border: 1px solid purple;
    display: inline-block;
    
}

.divMain2{
    width: 45%;
    height: 250px;

    border: 1px solid black;
    display: inline-block;
}

.divImgens{
    display: inline-block;
    width: 220px;
    padding-right: 10px;
}
